@page "/events"
@inject IEventService EventService

<h3>Events</h3>
@foreach (var e in EventsList)
{
    <MudCard>
        <MudCardContent>
            <MudText>@e.Subject</MudText>
            <MudText Typo="Typo.body2">@e.Type.Type</MudText>
            <MudText Typo="Typo.body2">Organized by: @e.Organizer</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudLink Href="@($"events/{e.Id}")">Read more</MudLink>
        </MudCardActions>
    </MudCard>
    <br />
}


@code {
    [Parameter]
    public string? Id { get; set; }
    private List<EventViewModel>? EventsList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            var serviceResponse = await EventService.GetEvent(Int32.Parse(Id));
            if (serviceResponse.Success) EventsList.Add(serviceResponse.Data);
        }
        else
        {
            var serviceResponse = await EventService.GetEvents();
            if (serviceResponse.Success) EventsList = serviceResponse.Data;
        }
    }
}
