@page "/events"
@inject IEventService EventService

<h3>Events</h3>
@foreach (var e in EventsList)
{
    <MudCard>
        <MudCardContent>
            <MudText>@e.Subject</MudText>
            <MudText Typo="Typo.body2">@e.Organizer</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudLink Href="@($"events/{e.Id}")">Select</MudLink>
        </MudCardActions>
    </MudCard>
}


@code {
    [Parameter]
    public string? Id { get; set; }
    private List<EventViewModel>? EventsList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            var singleEvent = await EventService.GetEvent(Int32.Parse(Id));
            if (singleEvent != null ) EventsList.Add(singleEvent);
        }
        else
        {
            EventsList = await EventService.GetEvents();
        }
    }
}
